.breadcrumb{
  display: flex;
  align-items: center;

  &__item{
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 0.2px;
    color: #2B2B2B;
  }

  &__link{
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 0.2px;
    color: #2B2B2B;
    position: relative;
    margin-right: 30px;

    &:after{
      position: absolute;
      content: '/';
      top:0;
      right: -20px;
      font-size: 18px;
    }
  }
}