.banner{
  height: 320px;
  background-size: cover!important;
  background-repeat: no-repeat;

  @media screen and (max-width: $md){
    height: 220px;
  }

  &__title{
    font-weight: 600;
    font-size: 60px;
    line-height: 71px;
    letter-spacing: 0.204987px;
    font-family: "SansPro", sans-serif;
    color:#fff;
    display: flex;
    align-items: center;
    height: 100%;
    margin-top:5%;

    @media screen and (max-width: $md){
      font-size: 40px;
      line-height: 47px;
      letter-spacing: 0.16px;
    }
  }
}