/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}
@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url(./landing/assets/img/ajax-loader.gif) center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url(./landing/assets/fonts/slick.eot);
    src: url(./landing/assets/fonts/slick.eot?#iefix) format('embedded-opentype'), url(./landing/assets/fonts/slick.woff) format('woff'), url(./landing/assets/fonts/slick.ttf) format('truetype'), url(./landing/assets/img/slick.svg#slick) format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}

@font-face {
  font-family: "HELVETICANEUECYR";
  src: local("HELVETICANEUECYR-BOLD"), local("Stem-Light"), url(./landing/assets/fonts/HELVETICANEUECYR-BOLD.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "HELVETICANEUECYR";
  src: local("HELVETICANEUECYR-MEDIUM"), local("Stem-Light"), url(./landing/assets/fonts/HELVETICANEUECYR-MEDIUM.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "HELVETICANEUECYR";
  src: local("HELVETICANEUECYR-LIGHT"), local("Stem-Light"), url(./landing/assets/fonts/HELVETICANEUECYR-LIGHT.ttf) format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "HELVETICANEUECYR";
  src: local("HELVETICANEUECYR-ROMAN"), local("Stem-Light"), url(./landing/assets/fonts/HELVETICANEUECYR-ROMAN.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "CONSOLA";
  src: local("CONSOLA"), local("Stem-Light"), url(./landing/assets/fonts/CONSOLA.ttf) format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "SansPro";
  src: local("BlackerSansPro-Bold"), local("Stem-Light"), url(./landing/assets/fonts/BlackerSansPro-Bold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "SansPro";
  src: local("BlackerSansPro-Light"), local("Stem-Light"), url(./landing/assets/fonts/BlackerSansPro-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

a {
  text-decoration: none;
}
a:active, a:hover {
  outline: 0;
  text-decoration: none;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus {
  outline: 0;
}

img, audio, video {
  max-width: 100%;
  height: auto;
}

audio, canvas, iframe, video, img, svg {
  vertical-align: middle;
}

iframe {
  border: 0;
}

textarea {
  resize: none;
  overflow: auto;
  vertical-align: top;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

input, textarea, select, button {
  outline: none;
  border: none;
  font-size: 100%;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button, input {
  line-height: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
  text-align: left;
}

/*background-image: url(../img/btn_arrow.svg);*/
body {
  margin: 0;
  padding: 0;
  font-family: "HELVETICANEUECYR", sans-serif;
  font-weight: 300;
}
body.hidden {
  overflow: hidden;
}

header {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 20;
}
@media (max-width: 767px) {
  header {
    position: sticky;
  }
}

main {
  flex: 1 0 auto;
  z-index: 10;
  overflow: hidden;
}

/*
.main_project{
  position: relative;
  top:-72px;
}*/
footer {
  flex: 0 0 auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-image: url(./landing/assets/img/bkg.svg);
}
@media screen and (max-width: 980px) {
  .wrapper {
    background-image: url(./landing/assets/img/bkg_m.svg);
  }
}
.wrapper_clear {
  background-image: unset;
}

.container {
  max-width: 1320px;
  padding: 0 40px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  height: 100%;
}
@media (max-width: 767px) {
  .container {
    padding: 0 30px;
  }
}
.container_content {
  max-width: 1090px;
  padding: 0 15px;
}
@media (max-width: 767px) {
  .container_content {
    padding: 0 30px;
  }
}

a {
  transition: all 0.3s ease;
}

.tab__wrapper {
  display: flex;
  align-items: center;
  position: relative;
}
@media screen and (max-width: 980px) {
  .tab__wrapper {
    overflow-x: scroll;
  }
}
.tab__wrapper:after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: #E6E6E6;
}
@media screen and (max-width: 980px) {
  .tab__wrapper:after {
    display: none;
  }
}
.tab__item {
  font-size: 18px;
  line-height: 35px;
  letter-spacing: 0.2px;
  color: #2B2B2B;
  margin-right: 20px;
  padding: 0 20px;
  text-align: center;
  cursor: pointer;
  z-index: 1;
}
@media screen and (max-width: 980px) {
  .tab__item {
    font-size: 14px;
    margin-right: 10px;
    padding: 0 15px;
  }
}
.tab__item_active {
  background-color: #D7F3FF;
  border-bottom: 2px solid #0AB5FF;
}
.tab__content {
  position: relative;
  margin-top: 25px;
}
.tab__content-item {
  position: absolute;
  top: 0;
  left: -1000%;
  opacity: 0;
  visibility: hidden;
  margin: 0 -10px;
  transition: all 0.3s ease;
  min-height: 455px;
  flex-flow: row wrap;
  align-items: flex-start;
}
@media screen and (max-width: 980px) {
  .tab__content-item {
    flex-flow: column;
    margin: 0;
  }
}
.tab__content_active {
  opacity: 1;
  visibility: visible;
  left: 0;
  position: relative;
  display: flex;
}
.tab__content-empty {
  font-weight: 550;
  font-size: 25px;
  line-height: 29px;
  letter-spacing: 0.2px;
  color: #2B2B2B;
}

.breadcrumb {
  display: flex;
  align-items: center;
}
.breadcrumb__item {
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 0.2px;
  color: #2B2B2B;
}
.breadcrumb__link {
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 0.2px;
  color: #2B2B2B;
  position: relative;
  margin-right: 30px;
}
.breadcrumb__link:after {
  position: absolute;
  content: "/";
  top: 0;
  right: -20px;
  font-size: 18px;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 980px) {
  .header__wrapper {
    padding: 10px 0;
  }
}
.header__burger {
  width: 32px;
  height: 32px;
  display: none;
}
@media (max-width: 980px) {
  .header__burger {
    display: flex;
    justify-content: flex-end;
    width: 24px;
    height: 24px;
  }
}
.header_fixed {
  position: fixed;
}
.header_active {
  background-color: rgba(0, 0, 0, 0.1);
}
.header_project.header_active {
  background-color: rgba(0, 0, 0, 0.2);
}

.menu {
  padding: 30px 0;
}
@media (max-width: 980px) {
  .menu {
    display: none;
  }
}
.menu_project .menu__link {
  color: #fff;
}
.menu__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 40px 0;
}
@media (max-width: 980px) {
  .menu__list {
    flex-flow: column;
    margin: 0;
    width: 100%;
  }
}
.menu__link {
  color: #000;
  font-size: 14px;
  letter-spacing: 0.2px;
  font-weight: 300;
}
@media (max-width: 980px) {
  .menu__link {
    font-size: 18px;
    letter-spacing: 0.16px;
    color: #2B2B2B;
  }
}
.menu__item {
  margin: 0 0 0 60px;
}
@media (max-width: 980px) {
  .menu__item {
    padding: 15px;
    border-bottom: 1px solid #BFBFBF;
    width: 100%;
    margin: 0;
  }
}
@media (max-width: 980px) {
  .menu__item:focus, .menu__item:active, .menu__item:hover {
    color: #AF2CDD;
    background: rgba(175, 44, 221, 0.08);
  }
}
@media (max-width: 980px) {
  .menu__item_active {
    color: #AF2CDD;
    background: rgba(175, 44, 221, 0.08);
  }
}
.menu__mobile {
  position: fixed;
  top: 0;
  right: -100%;
  transition: all 0.3s ease-out;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 100;
  display: flex;
  justify-content: flex-end;
}
.menu__mobile-wrapper {
  display: flex;
  align-items: flex-start;
  flex-flow: column;
  background: #fff;
  width: 100%;
  height: 100%;
  padding: 0 30px;
}
.menu__mobile_active {
  opacity: 1;
  right: 0;
}
.menu__mobile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  width: 100%;
}

.menu__item:hover > .menu__link,
.menu__item:focus > .menu__link,
.menu__item_active > .menu__link {
  color: #AF2CDD;
}

.logo {
  display: flex;
  justify-content: flex-start;
  height: 50px;
}
@media screen and (max-width: 980px) {
  .logo {
    height: 40px;
    position: relative;
    left: calc(50% - 60px);
  }
}

.product {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 80px);
  font-family: "CONSOLA", sans-serif;
}
@media screen and (max-width: 980px) {
  .product {
    height: calc(100vh - 72px);
  }
}
.product__wrapper {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
@media screen and (max-width: 980px) {
  .product__wrapper {
    flex-flow: column;
  }
}
.product__wrapper-img {
  height: 410px;
  margin: 0 0 0 20px;
  order: 2;
}
@media screen and (max-width: 980px) {
  .product__wrapper-img {
    height: 240px;
    order: 1;
  }
}
.product__text {
  order: 1;
}
@media screen and (max-width: 980px) {
  .product__text {
    order: 2;
  }
}
.product__title {
  font-size: 60px;
  line-height: 70px;
  text-align: left;
  letter-spacing: 0.2px;
  font-family: "SansPro", sans-serif;
  font-weight: 600;
  color: #4089F4;
}
@media screen and (max-width: 980px) {
  .product__title {
    font-size: 35px;
    line-height: 41px;
    text-align: center;
    margin: 20px 0 0;
  }
}
.product__subtitle {
  font-size: 35px;
  line-height: 41px;
  text-align: left;
  letter-spacing: 0.2px;
  margin: 30px 0 0;
  font-family: "SansPro", sans-serif;
  font-weight: 300;
}
@media screen and (max-width: 980px) {
  .product__subtitle {
    margin: 20px 0 0;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
  }
}

.company {
  display: flex;
  align-items: center;
  justify-content: center;
}
.company__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.company__title {
  background: linear-gradient(93.55deg, #E05C59 9.7%, #AF2CDD 46.04%, #0AB5FF 87.23%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #AF2CDD;
  display: block;
  font-weight: 550;
  font-size: 35px;
  line-height: 120%;
  text-align: center;
  letter-spacing: 0.155064px;
  max-width: 1000px;
  width: 100%;
}
@media screen and (max-width: 980px) {
  .company__title {
    max-width: 300px;
    font-size: 25px;
    line-height: 120%;
    display: none;
  }
}
.company__title_mobile {
  display: none;
}
@media screen and (max-width: 980px) {
  .company__title_mobile {
    display: block;
  }
}

.culture {
  margin: 300px 0 0;
}
@media screen and (max-width: 980px) {
  .culture {
    margin: 150px 0 50px;
  }
}
.culture__wrapper {
  display: flex;
  flex-flow: column;
}
.culture__title {
  background: linear-gradient(91deg, #2B9CF8 0%, #AF2CDD 15%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #AF2CDD;
  display: block;
  font-weight: bold;
  font-size: 45px;
  line-height: 45px;
  letter-spacing: 0.2px;
}
@media screen and (max-width: 980px) {
  .culture__title {
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.16px;
  }
}
.culture__text {
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.2px;
  flex: 1;
  font-weight: 300;
}
.culture__text:last-child {
  padding: 0 0 0 20px;
}
@media screen and (max-width: 980px) {
  .culture__text:last-child {
    padding: 0;
  }
}
.culture__text p {
  padding: 0 0 20px;
}
.culture__row {
  display: flex;
  justify-content: space-between;
  margin: 50px 0 0;
}
@media screen and (max-width: 980px) {
  .culture__row {
    flex-flow: column;
  }
}

.worth {
  background: #F5F5F7;
}
.worth__wrapper {
  padding: 100px 0;
}
@media screen and (max-width: 980px) {
  .worth__wrapper {
    padding: 50px 0;
  }
}
.worth__title {
  background: linear-gradient(91deg, #2B9CF8 0%, #AF2CDD 15%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #AF2CDD;
  display: block;
  font-weight: bold;
  font-size: 75px;
  line-height: 75px;
  letter-spacing: 0.2px;
  margin: 0 0 100px;
}
@media screen and (max-width: 980px) {
  .worth__title {
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 0.16px;
    margin: 0 0 45px;
  }
}
.worth__img {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(./landing/assets/img/worth.jpeg);
}
@media screen and (max-width: 980px) {
  .worth__img {
    height: 400px;
    background-image: url(./landing/assets/img/worth_m.jpeg);
  }
}

.mission {
  background: #FFF;
  padding: 100px 0;
}
.mission__wrapper {
  display: flex;
}
@media screen and (max-width: 980px) {
  .mission__wrapper {
    flex-flow: column;
  }
}
.mission__title {
  background: linear-gradient(93.68deg, #E15D5A 5%, #2B9CF8 17%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #AF2CDD;
  display: block;
  font-weight: bold;
}
@media screen and (max-width: 980px) {
  .mission__title {
    margin-bottom: 0 !important;
  }
}
.mission__item {
  padding: 150px 0;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.2px;
  width: 50%;
}
@media screen and (max-width: 980px) {
  .mission__item {
    width: 100%;
    padding: 45px 0;
  }
}
.mission__item_img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  order: 1;
}
@media screen and (max-width: 980px) {
  .mission__item_img {
    height: 205px;
    order: 2;
  }
}
.mission__item p {
  padding: 0 0 20px;
}
.mission__item_text {
  max-width: 480px;
  width: 100%;
  padding: 150px 50px;
  order: 2;
  font-weight: 300;
}
@media screen and (max-width: 980px) {
  .mission__item_text {
    order: 1;
    padding: 45px 30px 30px;
  }
}

.progress {
  background: #F5F5F7;
  padding: 0 0 150px;
}
@media screen and (max-width: 980px) {
  .progress {
    padding: 0 0 45px;
  }
}
.progress__title {
  background: linear-gradient(89.6deg, #1AABFA 10%, #AF2CDD 22%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #AF2CDD;
  display: block;
  font-weight: bold;
}
.progress__text {
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.2px;
  max-width: 420px;
  width: 100%;
  font-weight: 300;
}
.progress__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 75px -10px 0 -10px;
}
@media screen and (max-width: 980px) {
  .progress__list {
    flex-flow: column;
    margin: 20px 0 0;
  }
}
.progress__item {
  display: block;
  width: calc(50% - 10px);
  padding: 20px;
  background: #fff;
  font-weight: 550;
  font-size: 20px;
  letter-spacing: 0.2px;
  color: #0AB5FF;
  margin: 10px 0 10px;
  border-radius: 8px;
  transition: all 0.5s ease;
}
@media screen and (max-width: 980px) {
  .progress__item {
    width: 100%;
  }
}
.progress__item:hover, .progress__item:focus {
  color: #fff;
  background: #0AB5FF;
}

.service__wrapper {
  padding: 0 0 250px 0;
}
@media screen and (max-width: 980px) {
  .service__wrapper {
    padding: 0 0 90px 0;
  }
}
.service__title {
  background: linear-gradient(90.36deg, #AF2CDD 31.74%, #E15D5A 67.11%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #AF2CDD;
  display: block;
  font-weight: 550;
  font-size: 45px;
  line-height: 45px;
  text-align: center;
  letter-spacing: 0.155064px;
  margin: 0 auto;
}
@media screen and (max-width: 980px) {
  .service__title {
    font-size: 35px;
    line-height: 35px;
    text-align: center;
    letter-spacing: 0.124051px;
  }
}
.service__slider {
  margin: 0 -20px 120px -20px;
}
@media screen and (max-width: 980px) {
  .service__slider {
    margin: 45px 0 0;
  }
}
.service__slider-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60px;
  margin: 50px 0 0;
}
@media screen and (max-width: 980px) {
  .service__slider-control {
    display: none;
  }
}
.service__slider-arrow {
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.service__slider_next {
  transform: rotateY(180deg);
}
.service__slider_active svg {
  fill: #0AB5FF;
}
.service__item {
  padding: 0 20px;
}
@media screen and (max-width: 980px) {
  .service__item {
    margin: 0 0 20px;
    padding: 0;
    position: relative;
  }
}
.service__item::after {
  display: none;
  position: absolute;
  content: "";
  width: 32px;
  height: 32px;
  top: 24px;
  right: 20px;
  background-image: url(./landing/assets/img/arrow_m.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: all 0.3s ease;
}
@media screen and (max-width: 980px) {
  .service__item::after {
    display: block;
  }
}
.service__item_active::after {
  transform: rotateX(180deg);
}
.service__item_active .service__item-text {
  height: auto;
  opacity: 1;
  visibility: visible;
  margin: 25px 0 0;
}
.service__item-wrapper {
  background: #F5F5F7;
  border-radius: 17px;
  padding: 40px;
  min-height: 340px;
}
@media screen and (max-width: 980px) {
  .service__item-wrapper {
    min-height: unset;
    padding: 25px;
  }
}
.service__item-text {
  font-weight: 300;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.2px;
  color: #2B2B2B;
  margin: 25px 0 0;
  transition: all 0.3s ease;
}
@media screen and (max-width: 980px) {
  .service__item-text {
    height: 0;
    opacity: 0;
    visibility: hidden;
    margin: 0;
    font-size: 14px;
    line-height: 120%;
  }
}
.service__item-text p {
  padding: 0 0 20px;
}
.service__item-title {
  font-weight: 550;
  font-size: 35px;
  letter-spacing: 0.2px;
  color: #2B2B2B;
}
@media screen and (max-width: 980px) {
  .service__item-title {
    font-size: 25px;
    letter-spacing: 0.16px;
  }
}

.service__slider .slick-dots {
  height: 8px;
  background: #F5F5F7;
  border-radius: 29px;
  margin: 0 auto;
  width: calc(100% - 40px);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.service__slider .slick-dots li {
  flex: 1;
  height: 8px;
  border-radius: 29px;
  width: auto;
  margin: 0;
}

.service__slider .slick-dots li button {
  height: 8px;
  width: 100%;
  padding: 0;
  border-radius: 29px;
  transition: all 0.3s ease;
}

.service__slider .slick-dots li.slick-active button {
  background: #0AB5FF;
}

.service__slider .slick-dots li button:before {
  display: none;
}

.footer {
  background-size: cover;
  padding: 60px 0;
}
.footer__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 980px) {
  .footer__wrapper {
    flex-flow: column;
    align-items: flex-start;
  }
}
.footer__link {
  font-size: 14px;
  line-height: 149.9%;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  font-family: "HELVETICANEUECYR", sans-serif;
}
@media (max-width: 980px) {
  .footer__link {
    font-size: 14px;
    margin: 0 0 20px;
  }
}
.footer__link_social img {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

/*
.footer{
  background: #F5F5F7;

  &__wrapper{
    padding:100px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: $md) {
      flex-flow: column;
      padding:60px 0;
    }
  }

  &__title{
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 0.2px;
    margin:0 0 40px;

    @media screen and (max-width: $md) {
      font-size: 25px;
      line-height: 25px;
    }
  }

  &__text,
  &__form{
    width: 50%;

    @media screen and (max-width: $md) {
      width: 100%;
    }
  }

  &__form{
    padding: 0 0 0 50px;

    @media screen and (max-width: $md) {
      padding: 0;
    }
  }

  &__subtitle{
    font-size: 18px;
    line-height: 115%;
    letter-spacing: 0.2px;

    @media screen and (max-width: $md) {
      font-size: 16px;
      line-height: 120%;
      letter-spacing: 0.16px;
    }

    p{
      padding:0 0 30px;
    }
  }
}*/
.form__control {
  border-bottom: 1px solid rgba(0, 0, 0, 0.28);
  padding: 10px 0;
  margin: 0 0 20px;
}
.form__label {
  width: 100%;
  height: 40px;
}
.form__text {
  background: transparent;
  height: 40px;
  width: 100%;
  font-size: 16px;
  font-weight: 200;
  color: rgba(0, 0, 0, 0.7);
  font-family: "HELVETICANEUECYR", sans-serif;
}
@media screen and (max-width: 980px) {
  .form__text {
    font-size: 16px;
  }
}
.form__text::placeholder {
  font-weight: 200;
  font-size: 16px;
  letter-spacing: 0.2px;
  color: rgba(0, 0, 0, 0.7);
  font-family: "HELVETICANEUECYR", sans-serif;
}
@media screen and (max-width: 980px) {
  .form__text::placeholder {
    font-size: 16px;
  }
}
.form__submit {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  letter-spacing: 0.164021px;
  color: #333333;
  background: #0AB5FF;
  border-radius: 5.74074px;
  width: 155px;
  height: 45px;
  cursor: pointer;
  margin: 40px 0 0;
}
.form__textarea {
  width: 100%;
  background: transparent;
  height: 100px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.28);
  font-weight: 200;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: #2B2B2B;
  resize: none;
  font-family: "HELVETICANEUECYR", sans-serif;
}
.form__textarea::placeholder {
  font-family: "HELVETICANEUECYR", sans-serif;
  font-weight: 200;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: #646363;
}
.form__checkbox {
  appearance: auto;
}
.form__file {
  background: #F5F5F7;
  border-radius: 6px;
  border: 1px solid #0AB5FF;
  font-size: 14px;
  letter-spacing: 0.164021px;
  color: #333333;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 155px;
  height: 46px;
  cursor: pointer;
}
.form__file_hide {
  position: absolute;
  top: 0;
  opacity: 0;
  width: 155px;
  height: 46px;
  cursor: pointer;
}
.form__file-text {
  font-weight: 200;
  font-size: 14px;
  letter-spacing: 0.164021px;
  color: #929292;
  margin-left: 20px;
}
@media screen and (max-width: 980px) {
  .form__file-text {
    margin: 16px 0 0;
  }
}

.banner {
  height: 320px;
  background-size: cover;
}
.banner__title {
  font-weight: 600;
  font-size: 60px;
  line-height: 71px;
  letter-spacing: 0.204987px;
  font-family: "SansPro", sans-serif;
  color: #fff;
  display: flex;
  align-items: center;
  height: 100%;
  margin-top: 5%;
}
@media screen and (max-width: 980px) {
  .banner__title {
    font-size: 55px;
    line-height: 64px;
    letter-spacing: 0.16px;
    padding: 0 30px;
  }
}

.project {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.project_gray {
  background: #F5F5F7;
}
.project__wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 0 120px;
}
@media screen and (max-width: 980px) {
  .project__wrapper {
    flex-flow: column;
    padding: 0;
  }
}
.project__numbers {
  display: flex;
  flex-flow: column;
  margin: 0 100px 0 0;
}
@media screen and (max-width: 980px) {
  .project__numbers {
    display: none;
  }
}
.project__numbers-item {
  font-family: "CONSOLA", sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2px;
  color: #9A9A9A;
  margin-bottom: 50px;
}
.project__numbers-item_active {
  color: #0B0B0B;
}
.project__text {
  min-width: 320px;
}
@media screen and (max-width: 980px) {
  .project__text {
    padding: 0 40px;
    margin: 0 0 40px;
  }
}
.project__text-count {
  font-family: "CONSOLA", sans-serif;
  font-size: 144px;
  line-height: 169px;
  letter-spacing: 0.2px;
  opacity: 0.2;
}
@media screen and (max-width: 980px) {
  .project__text-count {
    font-size: 80px;
    line-height: 94px;
  }
}
.project__text-title {
  font-weight: 550;
  font-size: 45px;
  line-height: 120%;
  letter-spacing: 0.2px;
  color: #2B2B2B;
  position: relative;
  margin-top: -70px;
}
@media screen and (max-width: 1440px) {
  .project__text-title {
    font-size: 35px;
    line-height: 120%;
  }
}
@media screen and (max-width: 1536px) {
  .project__text-title {
    font-size: 35px;
  }
}
@media screen and (max-width: 1024px) {
  .project__text-title {
    font-size: 20px;
    line-height: 120%;
    margin-top: -40px;
  }
}
.project__slider {
  width: 800px;
}
@media screen and (max-width: 1280px) {
  .project__slider {
    width: 500px;
  }
}
@media screen and (max-width: 1024px) {
  .project__slider {
    width: 400px;
    position: relative;
    right: -40px;
  }
}
.project__slider-wrapper {
  width: 100%;
}
.project__slider-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100px;
  padding: 0 20px;
  margin: 50px 0 0;
}
@media screen and (max-width: 980px) {
  .project__slider-control {
    width: 50px;
    padding: 0;
  }
}
.project__slider-arrow {
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.project__slider_next {
  transform: rotateY(180deg);
}
.project_purple .project__text-count {
  color: #AF2CDD;
  opacity: 0.2;
}
.project_blue .project__text-count {
  color: #0AB5FF;
  opacity: 0.2;
}
.project_red .project__text-count {
  color: #E05C59;
  opacity: 0.2;
}

.project__slider_setting .slick-dots {
  height: 8px;
  background: #F5F5F7;
  border-radius: 29px;
  margin: 0 auto;
  width: calc(100% - 40px);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 980px) {
  .project__slider_setting .slick-dots {
    width: calc(100% - 80px);
    margin: 0;
  }
}

.project__slider_setting .slick-dots li {
  flex: 1;
  height: 8px;
  border-radius: 29px;
  width: auto;
  margin: 0;
}

.project__slider_setting .slick-dots li button {
  height: 8px;
  width: 100%;
  padding: 0;
  border-radius: 29px;
  transition: all 0.3s ease;
}

.project__slider_setting .slick-dots li button:before {
  display: none;
}

.project_purple .slick-dots li.slick-active button {
  background: #AF2CDD;
}

.project_blue .slick-dots li.slick-active button {
  background: #0AB5FF;
}

.project_red .slick-dots li.slick-active button {
  background: #E05C59;
}

.project_purple .project__slider_active svg {
  fill: #AF2CDD;
}

.project_blue .project__slider_active svg {
  fill: #0AB5FF;
}

.project_red .project__slider_active svg {
  fill: #E05C59;
}

.client {
  background: #F5F5F7;
}
.client__wrapper {
  padding: 100px 0;
}
.client__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 980px) {
  .client__list {
    flex-flow: column;
  }
}
@media (max-width: 980px) {
  .client__item {
    margin-bottom: 40px;
  }
}

.vacancy__wrapper {
  padding: 140px 0;
}
@media screen and (max-width: 980px) {
  .vacancy__wrapper {
    padding: 50px 0;
  }
}
.vacancy__item {
  background: #F5F5F7;
  border-radius: 17px;
  padding: 40px;
  width: calc(50% - 20px);
  margin: 0 10px 20px 10px;
}
@media screen and (max-width: 980px) {
  .vacancy__item {
    width: 100%;
    margin: 0 0 20px;
  }
}
.vacancy__item:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.vacancy__item-title {
  font-weight: 550;
  font-size: 25px;
  line-height: 25px;
  letter-spacing: 0.2px;
  color: #2B2B2B;
  margin-bottom: 40px;
}
.vacancy__item-prop {
  font-weight: 300;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.2px;
  color: #2B2B2B;
  margin-bottom: 10px;
}

.detail {
  padding: 100px 0;
}
@media screen and (max-width: 980px) {
  .detail {
    padding: 0 0 50px 0;
  }
}
.detail__wrapper {
  margin-top: 40px;
}
.detail__item {
  background: #F5F5F7;
  border-radius: 17px;
  padding: 40px;
  font-weight: 200;
  font-size: 18px;
  line-height: 137.5%;
  letter-spacing: 0.2px;
  color: #000000;
  font-family: "HELVETICANEUECYR", sans-serif;
}
@media screen and (max-width: 980px) {
  .detail__item {
    font-size: 16px;
    padding: 20px;
  }
}
.detail__title {
  font-weight: 550;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #2B2B2B;
  margin-bottom: 40px;
}
.detail__subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 137.5%;
  letter-spacing: 0.2px;
  color: #000000;
  margin: 20px 0;
}
.detail__props {
  margin: 20px 0;
}
.detail__list {
  margin: 0 0 0 20px;
}
.detail__list li {
  list-style: disc;
}
@media screen and (max-width: 980px) {
  .detail__breadcrumb {
    display: none;
  }
}

.detail__form {
  display: flex;
  flex-flow: column;
  border: none;
  width: 50%;
  padding: 0 0 100px;
}
@media screen and (max-width: 980px) {
  .detail__form {
    padding: 0 0 50px;
    width: 100%;
  }
}
.detail__form-title {
  font-size: 20px;
  letter-spacing: 0.2px;
  color: #2B2B2B;
  margin-bottom: 16px;
}
.detail__label {
  position: relative;
  width: 100%;
}
.detail__label_flex {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
@media screen and (max-width: 980px) {
  .detail__label_flex {
    flex-flow: column;
    align-items: flex-start;
  }
}
.detail__label_policy {
  margin-top: 30px;
  font-family: "HELVETICANEUECYR", sans-serif;
  font-weight: 200;
  font-size: 16px;
  color: #646363;
}
.detail__checkbox {
  appearance: auto;
}

.title_main {
  font-weight: bold;
  font-size: 45px;
  line-height: 45px;
  letter-spacing: 0.2px;
  margin-bottom: 75px;
}
@media screen and (max-width: 980px) {
  .title_main {
    font-size: 25px;
    line-height: 25px;
    letter-spacing: 0.16px;
    margin-bottom: 45px;
  }
}
.title_second {
  font-weight: 550;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #2A2A2A;
  margin: 0 0 30px;
}
@media screen and (max-width: 980px) {
  .title_second {
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.16px;
    margin: 0 0 20px;
  }
}

/*# sourceMappingURL=appaeb28ecbe2482b36a470.css.map*/