.footer{
  background-size: cover;
  padding:60px 0;

  &__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: $md) {
      flex-flow: column;
      align-items: flex-start;
    }
  }

  &__link{
    font-size: 14px;
    line-height: 149.9%;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    font-family: "HELVETICANEUECYR", sans-serif;

    @media (max-width: $md) {
      font-size: 14px;
      margin: 0 0 20px;
    }

    &_social{
      img{
        width: 24px;
        height: 24px;
        margin-left: 10px;
      }
    }
  }
}

